@model CampusCraft.Models.company
@{
    ViewBag.Title = "Delete";
}

<h2>Delete Company</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Company</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cmpname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cmpname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.location)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.job_requirements)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.job_requirements)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.job_description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.job_description)
        </dd>
    </dl>

    @using (Html.BeginForm("Delete", "Placement_Cell", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.compID)
        <button type="submit">Delete</button> 
@Html.ActionLink("Back to List", "comp_list");
}
</div>
